/*section with progress display*/

#quiz-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 75%;
    height: 5rem;
    margin: 1rem auto;
}

.display-text {
    font-size: 4rem;
}

.progress-item {
    font-size: 1.5rem;
    font-family: Montserrat Alternates, sans-serif;
}

/*quiz question & h2*/

.question {
    font-size: 1.8rem;
    margin-bottom: 1.7rem;
}

#q1 {
    visibility: hidden;
}

#q2 {
    visibility: hidden;
}

.q-count {
    display: inline;
    visibility: hidden;
    animation: glow 1s ease-in-out infinite alternate;
}

/*container with individual answer for the user to choose from*/

.answer-container {
    display: flex;
    background: rgba(255,255,255, 0.9);
    color: rgb(15, 15, 48);
    font-weight: bolder;
    border-radius: 5px;
    font-size: 2rem;
    padding: 1.5rem 2rem;
    margin: 1rem auto;
    width: 100%;
    max-width: 50rem;
    box-shadow: 1px 1px 5px rgb(231, 225, 189);
}

/*class to be applied with JS when option is selected*/
.selected {
    transform: scale(1.03);
}

.correct-answer {
    background-color: aquamarine;
}

.incorrect-answer {
    background-color: red;
}

.answer-identifier {
    padding-right: 1rem;
}

.answer-text {
    width: 100%;
}


/*end-modal*/

.end-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    background-color: rgb(16,46,74);
    width: 50%;
    height: 50%;

    border-radius: 5px;

    display:none;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 2em;
}

.cls-modal {
    background: transparent;
    color: white;
    font-size: 2em;
}

.cls-modal:hover {
    transform: scale(1.4);
}

.modal-form {
    padding: 1rem;
    width: 300px;
    margin: auto;
    font-size: 2em;
    text-align: center;
}

#save-score {
    margin-bottom: 1rem;
}

#overlay {
    background-color: rgba(255,255,255, 0.4);
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    left:0;
    top: 0;
    padding-top: 5rem;
    display: none;
}

/*media queries*/
/*on screens smaller than 700px*/

@media screen and (max-width: 700px) {

    .question {
        font-size: 2rem;
    }

    .display-text {
        font-size: 2rem;
    }

}

@media screen and (max-width: 550px) {
    
    .answer-container {
        font-size: 1.3rem;
        padding: 1rem 1.5rem;
        width: 100%;
        max-width: 20rem;
    }

    .page-header {
        padding-bottom: 1rem;
    }

    .question {
        font-size: 1.3rem;
    }

    .progress-item {
        font-size: 1.3rem;
    }

    .display-text {
        font-size: 1.3rem;
    }
}
