/*remove default padding, margin, border and box-sizing*/

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/*body styling*/

body {
    background: rgb(15, 15, 48);
    color: white;
    
    /*to allow 1rem = 10px*/
    font-size: 62.5%;
}