/*import fonts from Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Raleway&display=swap'); 

/*remove default padding, margin, border and box-sizing*/

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/*body styling*/

body {
    background: rgb(15, 15, 48);
    color: white;

    /*to allow 1rem = 10px*/
    font-size: 62.5%;
}

/*remove list style and text decoration from all list items and links*/

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

/*style icons*/

i {
    font-size: 1.5rem;
    padding: .5rem;
}

/*code to make icons glow on hover taken and adapted from https://www.w3schools.com/howto/howto_css_glowing_text.asp*/
.glow:hover {
    font-size: 2rem;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px gold, 0 0 40px gold, 0 0 50px gold, 0 0 60px gold, 0 0 70px gold;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px rgb(231, 225, 189), 0 0 40px rgb(231, 225, 189), 0 0 50px rgb(231, 225, 189), 0 0 60px rgb(231, 225, 189), 0 0 70px rgb(231, 225, 189), 0 0 80px #rgb(231, 225, 189);
    }
  }
