/*import fonts from Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Raleway&display=swap'); 

/*remove default padding, margin, border and box-sizing*/

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/*body styling*/

body {
    background: rgb(15, 15, 48);
    color: white;

    /*to allow 1rem = 10px*/
    font-size: 62.5%;
}

/*remove list style and text decoration from all list items and links*/

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

/*style icons*/

